<system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js.min" mimeType="text/javascript" /> 
      <mimeMap fileExtension=".js" mimeType="text/javascript" /> 
      <mimeMap fileExtension=".css" mimeType="text/css" /> 
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" /> 
      <mimeMap fileExtension=".png" mimeType="image/png" /> 
    </staticContent>
</system.webServer>
